<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>jbx_menu</name>
    <displayName>Menu</displayName>
    <version>2.7.1</version>
    <description>Add a new menu in your shop.</description>
    <tab>front_office_features</tab>
    
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
    
</module>